body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: dimgray;
}

.container{
  background-color: white;
  min-height: 100vh;
}

.jumbotron-space {
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.bg-grey{
  background-color: lightslategrey;
}

.bg-grey:hover{
  background-color: lightsteelblue;
}

.small-nav{
  font-size: small;
}

.small-nav > .nav-item:first-child > a {
  padding-left: 0;
}

a.nav-link{
  color:black
}
